/* 
* @Author: wxh
* @Date:   2015-10-17 19:52:19
* @Last Modified by:   anchen
* @Last Modified time: 2015-10-25 15:23:20
*/
@charset 'utf-8';
html{color:#000;background:#FFF;font-family:Arial,'Microsoft Yahei';}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,strong{padding:0;margin:0;font-family:Arial,'Microsoft Yahei';}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
a{text-decoration:none; color:#666666; outline:none;}/*此处待添加默认链接颜色*/
var,em,strong{font-style:normal;}
address,caption,cite,code,dfn,em,strong,th,var, optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}

sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit; font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }
*{-webkit-tap-highlight-color:rgba(0,0,0,0);}

body {
    min-width: 1160px;
}
.wrap {
    position: relative;
    width: 100%;
}
/*头部样式*/
.nav-jwy {
    position: absolute;
    width: 96%;
    min-width: 1100px;
    height: 77px;
    padding: 23px 2% 0 2%;
    background: rgba(0, 0, 0, 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#a7000000',endColorstr = '#ee000000' ); 
    z-index: 10;
}
.logo-jwy {
    float: left;
    width: 165px;
    height: 58px;
    margin-right: 13px;
    background: url('../images/zxm_bg.png') -190px -345px no-repeat;
}
.nav-jwy a {
    float: left;
    width: 77px;
    margin: 17px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}
.nav-jwy .action_nav, .nav-jwy a:hover {
    color: #ffa751;
}
.nav-list {
    float: left;
    position: relative;
    width: 670px;
    height: 60px;
}
.login a {
    float: right;
    width: 54px;
    height: 31px;
    margin: 11px 0 0 17px;
    border: 1px solid #888888;
    line-height: 31px;
    font-size: 14px;
    border-radius: 5px;
}
.login a:hover {
    border: 1px solid #ffa751;
    background: #ffa751;
    color: #fff;
}
.line-jwy {
    display: block;
    position: absolute;
    top: 72px;
    left: 0px;
    width: 111px;
    height: 5px;
    background: #ffa751;
    z-index: 600;
}

/*尾部样式*/
.foot-wxh {
    float: left;
    width: 100%;
    height: 177px;
    background-color: #2c2c2c;
}
.foot-con-wxh {
    width: 1100px;
    height: 177px;
    margin: 0 auto;
}
.logo-wxh {
    float: left;
    width: 165px;
    height: 56px;
    margin: 62px 23px 0 0; 
    background: url("../images/zxm_bg.png") -190px -420px no-repeat;
/*    _background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/logo2.png");*/
}
.foot-wxh em {
    float: left;
    display: block;
    width: 1px;
    height: 52px;
    margin: 62px 22px 0 0; 
    background-color: #545454;
}
.panner-wxh {
    float: left;
    width: 300px;
    height: 67px;
    margin: 56px 88px 0 0;
     background: url(../images/zxm_bg.png) -190px -490px no-repeat;
}
.p-wxh {
    float: left;
    width: 294px;
    margin: 45px 70px 0 0;
}
.p-wxh p{
    font-size: 12px;
    color: #dbdbdb;
    line-height: 24px;
}
.qrcode-wxh {
    float: left;
    width: 129px;
    height: 150px;
    margin-top: 15px; 
    background: url(../images/qr_code.png);
}
/*返回顶部*/
.returntop-cql {
    display: none;
    position: fixed;
    /*不兼容IE6/7*/
    width: 44px;
    height: 170px;
    margin-top: 50%;
    bottom: 240px;
    right: 20px;
    background: none;
    z-index: 999;
}
.returntop-cql li {
    position: relative;
    width: 44px;
    height: 44px;
    margin-bottom: 10px;
    cursor: pointer;
}
.return-cql {
    background: url(../images/zxm_bg.png) 0px -540px no-repeat;
}
.code-cql {
    background: url(../images/zxm_bg.png) 0px -486px no-repeat;
}
.qq-cql {
    background: url(../images/zxm_bg.png) 0px -431px no-repeat;
}
.qq-cql a {
    display: block;
    width: 44px;
    height: 44px;
}
.lefthide-cql {
    position: absolute;
    display: none;
    left: -130px;
    top: -54px;
    width: 120px;
    height: 150px;
}
.qq-cql .qqspan {
    position: absolute;
    display: none;
    left: -114px;
    top: 0px;
    width: 102px;
    height: 44px;
    line-height: 22px;
    background: url(../images/zxm_bg.png) -48px -430px no-repeat;
    font-family: SimSun;
    font-size: 12px;
    text-align: center;
    color: #595959;
}
.qqspan span {
    display: block;
} 
.qq-cql:hover .qqspan {
    display: block;
}
.code-cql:hover .lefthide-cql {
    display: block;
}
.login {
    float: right;
    width: 200px;
    height: 44px;
    line-height: 44px;
    color: #fff;
}
.nav-jwy .login-after a {
    float: right;
    width: 200px;
    height: 44px;
    line-height: 22px;
    color: #fff;
}