@charset 'utf-8';
html {
	height: 100%;
}
body {
	min-width: 1160px;
}

/*cql*/
.content-cql {
	width: 100%;
}
.banner-cql {
	position: relative;
	width: 100%;
	height: 643px;
}
.banner-cql img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 643px;
}
.banner-order {
	position: relative;
	width: 100%;
	height: 643px;
	z-index: 5;
}
.banner-til {
	position: absolute;
	left: 234px;
	top: 260px;
	width: 880px;
	height: 300px;
	text-align: center;
}
.content-cql h2, .banner-til span {
	display: block;
	line-height: 70px;
	font-size: 56px;
	color: #fff;
} 
.content-cql em {
	line-height: 70px;
	font-size: 21px;
	color: #fff;
}
.banner-order .banner-til del {
	display: block;
	width: 170px;
	height: 50px;
	margin: 0 auto;
	line-height: 50px;
	border: 1px solid #fff;
	border-radius: 3px;
	font-size: 21px;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all 0.3s linear;
}
.banner-til del:hover {
	border: 1px solid #ffa751;
	background: #ffa751;
	color: black;
}
/*图片上的按钮*/
.wrapbanner-cql {
	position: relative;
}
.footer-btn-cql {
	position: absolute;
	left: 655px;
	bottom: 20px;
	margin: 0 auto;
	z-index: 100;
}
.footer-btn-cql span {
	float: left;
	width: 8px;
	height: 8px;
	margin-right: 10px;
	background-color: #eee;
	border-radius: 50%;
	cursor: pointer;
	z-index: 100;
}
.footer-btn-cql span:hover {
	background-color: #ffa751;
}
.footer-btn-cql .here-cql {
	background-color: #ffa751;
}
/*码上加入*/
/*.banner-club a {
	position: absolute;
	left: 650px;
	top: 380px;
	padding: 10px 35px;
	background: #e8a974;
	font-size: 14px;
	color: #814426;
}*/
.content-cql .shade {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 643px;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 1;
}
/*监理服务介绍*/
.serintroduce {
	width: 100%;
}
.service-cql {
	width: 1100px;
	height: 435px;
	margin: 0 auto;
}
.supervision {
	float: left;
	width: 600px;
	height: 314px;
	padding-top: 60px;
	padding-bottom: 60px;
}
.title-cql {
	width: 550px;
	height: 50px;
	border-bottom: 1px solid #dbdbdb;
}
.supervision em {
	float: left;
	font-size: 31px;
	line-height: 31px;
	color: #ffa751;
}
.supervision span {
	float: left;
	font-size: 25px;
	line-height: 31px;
	color: #9b9b9b;
}
.supervision p {
	padding-top: 20px;
	font-size: 14px;
	line-height: 24px;
	text-indent: 2em;
	color: #7f7f7f;
}
.more-cql {
	display: block;
	width: 152px;
	height: 42px;
	margin: 38px auto;
	border-radius: 3px;
	line-height: 42px;
	text-align: center;
	color: #fff;
	background: #ffa751;
}
.supervisionright {
	float: left;
	width: 470px;
	height: 204px;
	padding-top: 50px;
}
.supervisionright img {
	width: 530px;
	height: 354px;
}
/*监理数据支持模块*/
.datasupport-cql {
	width: 100%;
	background: #2c2c2c;
}
.support-title {
	height: 120px;
	padding-top: 60px;
	text-align: center;
}
.support-title h3 {
	font-size: 36px;
	line-height: 46px;
	color: #fff;
}
.support-title p {
	font-size: 14px;
	line-height: 24px;
	color: #dbdbdb;
}
.datasupport-cql ul li {
	float: left;
	position: relative;
	margin-right: 10px;
	cursor: pointer;
}
.supportlist-cql {
	width: 1100px;
	height: 355px;
	margin: 0 auto;
}
.supportlist-cql li {
	position: relative;
	overflow: hidden;
}
.supportlist-cql img {
	float: left;
	width: 260px;
	height: 355px;
}
/*上滚距离：355-90  265px*/
.sliderhide {
	position: absolute;
	top: 265px;
	left: 0px;
	width: 100%;
	height: 90px;
	/*background: #eca549;*/
	background: rgba(234, 162, 71, 0.93);
	filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#a3eca549',endColorstr = '#a3eca549' ); 
}
.sliderhide h4 {
	padding-top: 0px;
	font-size: 21px;
	line-height: 50px;
	text-align: center;
	color: #fff;
}
.sliderhide span {
	display: block;
	width: 265px;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	color: #fff;
}
.sliderhide a {
	display: block;
	width: 156px;
	height: 42px;
	margin: 16px auto 0px;
	border: 1px solid #fff;
	line-height: 42px;
	text-align: center;
	color: #fff;
}
.sliderhide a:hover {
	background: rgba(255, 255, 255, 0.23);
}
.slider-log {
	/*background: #ce4138; */
	background: rgba(211, 66, 55, 0.93);
	filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#a3ce4138',endColorstr = '#eece4138' ); 

}
.slider-report {
	/*background: #53b88a;*/
	background: rgba(76, 180, 137, 0.93);
	filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#a353b88a',endColorstr = '#ee53b88a' ); 

}
.slider-team {
	/*background: #5693c7;*/
	background: rgba(104, 157, 206, 0.93);
	filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#bb5693c7',endColorstr = '#ee5693c7' ); 

}
/*监理案例展示模块*/
.datacase-cql {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.datacase-title {
	margin: 60px auto 50px;
	text-align: center;
}
.datacase-title em {
	font-size: 36px;
	line-height: 56px;
	color: #000;
}
.datacase-title p {
	font-size: 12px;
	line-height: 24px;
	color: #727272;
}
/*外框*/
.accordion {
	overflow: hidden;
    /*position: relative;*/
    width: 100%;
    height: 500px;
    margin-bottom: 60px;
}
/*更多案例*/
.accordion .accordion-btn {
    position: absolute;
    top: 137px;
    left: 45%;
    width: 152px;
    height: 42px;
     z-index: 50;
     cursor: pointer;
}
.accordion .accordion-btn .casemore-cql {
    /*position: relative;*/
    display: block;
    width: 152px;
    height: 42px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 42px;
    background: #ff942c;
    border-radius: 5px; 
}
.accordion .casemore-cql:hover {
    background: rgba(255, 167, 81, 0.7);
}
/*图片展示*/
.accordion-show1, .accordion-show2 {
	overflow: hidden;
    width: 100%;
    height: 250px;
}
.accordion .accordion-show1 li, .accordion .accordion-show2 li {
    position: relative;
    overflow: hidden;
    display: block;
    float: left;
    width: 16.667%;
    height: 250px;
}
.accordion .accordion-show1 .infoma-bg-show, .accordion .accordion-show1 .infoma-bg-show {
	display: block;
	width: 100%;
	height: 250px;
}
.accordion-show1 .infoma-wxh, .accordion-show2 .infoma-wxh {
    position: absolute;
    top: 250px;
    height: 82px;
    z-index: 50;
    background-color: rgba(32, 22, 15, 0.6);
    filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#a7000000',endColorstr = '#a7000000' ); 
}
/*.accordion-show1 .infoma-wxh a {
    display: block;
    height: 82px;
}*/
.accordion-show1 .infoma-wxh .infoma-pic-wxh, .accordion-show2 .infoma-wxh .infoma-pic-wxh {
    float: left;
    width: 60px;
    height: 60px;
    margin: 11px 14px 8px 17px;
}
.accordion-show1 .infoma-wxh .infoma-pic-wxh img, .accordion-show2 .infoma-wxh .infoma-pic-wxh img {
    display: block;
    float: left;
    width: 63px;
    height: 63px;
}
.accordion-show1 .infoma-wxh span, .accordion-show2 .infoma-wxh span {
    /*float: left;*/
    /*width: 100%;*/
    display: block;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #e7e7e7;
}
.accordion-show1 .infoma-wxh del, .accordion-show2 .infoma-wxh del {
    /*float: left;*/
    font-size: 14px;
    color: #b5b5b5;
}


/*四栏模块*/
.four-cql {
	width: 100%;
	height: 580px;
}
.four-title {
	width: 505px;
	overflow: hidden;
	margin: 60px auto 10px;
}
.four-title  ins {
	float: left;
	display: block;
	width: 300px;
	height: 20px;
	height: 1px;
	margin-right: 20px;
	border: 1px solid #ddd;
}
.four-title del {
	float: right;
	display: block;
	width: 300px;
	height: 20px;
	height: 1px;
	border: 1px solid #ddd;
}
.showcall-cql .four-sel-cql {
	background: #ffa751;
}
.four-content .content-show-cql {
	display: block;
}
.four-content {
	width: 1100px;
	height: 500px;
	margin: 0 auto;
}
.four-title-main {
	width: 1140px;
}
.four-title span {
	float: left;
	width: 110px;
	height: 40px;
	margin-right: 20px;
	background: #2c2c2c;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
	border-radius: 3px;
	cursor: pointer;
	color: #fff;
}
.call-til {
	text-align: center;
}
.callus {
	display: none;
	width: 658px;
	height: 530px;
	margin: 0 auto;
}
.call-til em {
	display: block;
	font-size: 36px;
	color: #ffa751;
}
.call-til span {
	font-size: 18px;
	color: #ffa751;
}
.call-con {
	width: 432px;
	height: 284px;
	margin: 40px auto;
	text-align: center;
}
.len-cql {
	width: 432px;
	height: 40px;
	margin-bottom: 20px;
	padding-left: 15px;
	border: 1px solid #e1e1e1;
	background-color: #f2f2f2;
	line-height: 40px;
	outline: none;
}
input::-ms-clear {display: none;}
.none-cql {
	position: relative;
}
.none-cql em {
	position: absolute;
	display: block;
	right: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
	background-color: #f2f2f2;
	z-index: 99;
}
.none-cql span {
	position: absolute;
	display: block;
	right: 0px;
	top: 60px;
	width: 40px;
	height: 40px;
	background-color: #f2f2f2;
	z-index: 99;
}

.text-len-cql {
	width: 432px;
	height: 110px;
	padding-top: 8px;
	padding-left: 15px;
	border: 1px solid #e1e1e1;
	background-color: #f2f2f2;
	outline: none;
	/*text-indent: 1em;*/
}
.casemore-cql {
	display: block;
	width: 152px;
	margin: 30px auto;
	line-height: 42px;
	border-radius: 3px;
	background: #ff942c;
}
.spaly-cql {
	width: 152px;
	height: 42px;
	margin: 30px auto;
	background-color: #ff942c;
	line-height: 42px;
	color: #fff;
	cursor: pointer;
}

/*权威报道*/
.report-cql {
	/*先隐藏*/
	position: relative;
	display: none;
	width: 100%;
	margin: 50px auto 80px;	
}
.outer-report-cql {
	width: 1080px;
	overflow: hidden;
	margin: 0px auto;
}
.inner-report-cql {
	width: 1385px;
}
.inner-report-cql a {
	float: left;
	width: 240px;
	margin-right: 37px;
	text-align: center;
	color: #2c2c2c;
}
.btn-cql .btn-left-cql {
	position: absolute;
	top: 160px;
	left: -60px;
	width: 22px;
	height: 44px;
	background: url("../images/zxm_bg.png") -130px 0 no-repeat;
	cursor: pointer;
}
.btn-cql .btn-right-cql {
	position: absolute;
	top: 160px;
	right: -50px;
	width: 22px;
	height: 44px;
	background: url("../images/zxm_bg.png") -155px 0px no-repeat;
	cursor: pointer;
}
/*关于我们*/
.aboutus-cql {
	display: none;
	width: 100%;
}
.aboutus-title-cql {
	width: 660px;
	margin: 0 auto;
}
.aboutus-title-cql h3 {
	font-size: 36px;
	color: #ffa751;
	margin-top: 50px;
	margin-bottom: 35px;
	text-align: center;
}
.aboutus-title-cql img {
	width: 660px;
	height: 148px;
	margin: 0 auto;
}
.aboutus-title-cql p {
	width: 660px;
	margin-bottom: 26px;
	line-height: 26px;
	font-size: 14px;
	color: #2c2c2c;
	text-indent: 2rem;
}
/*加入我们*/
.joinus-cql {
	display: none;
	width: 100%;
	text-align: center;
}
.joinus-cql h3 {
	margin-top: 50px;
	font-size: 48px;
	color: #ffa751;
}
.joinus-cql span {
	font-size: 24px;
	line-height: 30px;
	color: #ffa751;
}
.joinus-cql p {
	width: 703px;
	margin: 26px auto 26px;
	font-size: 18px;
	line-height: 30px;
	color: #4b4b4b;
}
.joinus-cql img {
	width: 220px;
	height: 205px;
	margin: 0 auto;
}
#pro {
	color: #ffa751;
}
.four-content .ggg {
	display: block;
}
/*友情链接*/
.wrap-friend-cql {
	width: 100%;
	padding: 15px 0px;
	background: #ffa751;
	text-align: center;
}
.friend-cql {
	width: 1100px;
	margin: 0 auto;
}
.friend-cql span {
	font-weight: bold;
}
.friend-cql a {
	padding: 0px 5px;
}
/*返回顶部*/
.returntop-cql {
	display: none;
	position: fixed;
	/*不兼容IE6/7*/
	width: 44px;
	height: 170px;
	margin-top: 50%;
	bottom: 240px;
	right: 20px;
	background: none;
	z-index: 999;
}
.returntop-cql li {
	position: relative;
	width: 44px;
	height: 44px;
	margin-bottom: 10px;
	cursor: pointer;
}
.return-cql {
	background: url(../images/zxm_bg.png) 0px -540px no-repeat;
}
.code-cql {
	background: url(../images/zxm_bg.png) 0px -486px no-repeat;
}
.qq-cql {
	background: url(../images/zxm_bg.png) 0px -431px no-repeat;
}
.qq-cql a {
	display: block;
	width: 44px;
	height: 44px;
}
.lefthide-cql {
	position: absolute;
	display: none;
	left: -130px;
	top: -54px;
	width: 120px;
	height: 150px;
}
.qq-cql .qqspan {
	position: absolute;
	display: none;
	left: -114px;
	top: 0px;
	width: 102px;
	height: 44px;
	line-height: 22px;
	background: url(../images/zxm_bg.png) -48px -430px no-repeat;
	font-family: SimSun;
	font-size: 12px;
	text-align: center;
	color: #595959;
}
.qqspan span {
	display: block;
} 
.qq-cql:hover .qqspan {
	display: block;
}
.code-cql:hover .lefthide-cql {
	display: block;
}