@charset 'utf-8';
/* 
* @Author: JWY
* @Date:   2015-10-17 19:15:23
* @Last Modified by:   anchen
* @Last Modified time: 2015-10-24 21:04:04
* 注册登录
*/
::-ms-clear, ::-ms-reveal {
    display: none;
}
.wrap-jwy {
    width: 100%;
    height: 931px;
    background: url(../images/login_bg.jpg);
}
.login-jwy {
    width: 1100px;
    height: 544px;
    margin: 0 auto 159px;
    padding-top: 228px;
    /*background: #fff;*/
}
.left-pic-jwy {
    float: left;
    width: 679px;
    height: 544px;
    background: url(../images/login01.png);
}
.right-form-jwy {
    float: right;
    width: 314px;
    height: 471px;
    padding: 59px 53px 0 54px;
    background: #eeeeec;
}
.form-jwy {
    padding-bottom: 63px;
    border-bottom: 1px solid #b3b2b2;
}
.form-jwy li {
    float: left;
    width: 313px;
}
/*upv是用户，密码验，证码缩写*/
.form-jwy .label-upv-jwy label {
    float: left;
    width: 46px;
    height: 38px;
    padding-left: 12px;
    background: #fff;
    line-height: 38px;
    font-size: 14px;
}
.form-jwy .label-upv-jwy input[type="text"], .label-upv-jwy input[type="password"] {
    float: left;
    width: 255px;
    height: 38px;
    border: 0px;
    line-height: 38px;
    color: #959595;
    outline: none;
    -webkit-box-shadow: inset 0 0 0 20px #fff;
    -moz-box-shadow: inset 0 0 0 20px #fff;
    -o-box-shadow: inset 0 0 0 20px #fff;
    -ms-box-shadow: inset 0 0 0 20px #fff;
    box-shadow: inset 0 0 0 20px #fff;
}
.form-jwy .verification-code-jwy input[type="text"] {
    float: left;
    width: 114px;
    height: 38px;
    outline: none;
}
.form-jwy .verification-code-jwy img {
    float: right;
    width: 120px;
    height: 38px;
}
.form-jwy .btn-jwy label, .btn-jwy a {
    float: left;
    width: 148px;
    height: 38px;
    border: 1px solid #ffa751;
    color: #ffa751;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}
.form-jwy .btn-jwy a:hover {
    background: #ffa751;
    color: #fff;
}
.form-jwy .btn-jwy label {
    margin-left: 10px;
    background: #ffa751;
    color: #fff;
}
.form-jwy .btn-jwy input {
    display: none;
}
.form-jwy .li-four-jwy a {
    float: right;
    *margin-top: -18px;
}
/*不同的li距离*/
.li-one-jwy {
    height: 71px;
}
.li-two-jwy {
    height: 59px;
}
.li-three-jwy {
    height: 56px;
}
.li-four-jwy {
    height: 30px;
}
/* 其他账号登陆部分 */
.tit-jwy {
    width: 153px;
    margin: -7px auto 0;
    background: #edebe9;
    text-align: center;
    color: #5b5b5b;
    font-size: 14px;
}
.con-bottom-jwy {
    padding: 26px 0 0 28px;
}
.con-bottom-jwy a {
    float: left;
    width: 52px;
    height: 52px;
    margin-left: 17px;
}
.con-bottom-jwy .sina-jwy {
    background: url(../images/zxm_bg.png) -91px -239px;
}
.con-bottom-jwy .qq-jwy {
     background: url(../images/zxm_bg.png) -160px -239px;
}
.con-bottom-jwy .weixin-jwy {
    background: url(../images/zxm_bg.png) -228px -239px;
}
.con-bottom-jwy .dou-jwy {
    background: url(../images/zxm_bg.png) -297px -239px;
}
/*登录页面，其中会有一个小r为登录页面特殊样式*/

.right-rform-jwy .rform-jwy li {
    height: 61px;
}
.label-rupv-jwy {
    position: relative;
}
.rform-jwy .label-rupv-jwy label, .activation-code-jwy label {
    float: left;
    width: 61px;
    height: 38px;
    padding-left: 12px;
    background: #fff;
    line-height: 38px;
    font-size: 14px;
}
.right-rform-jwy {
    float: right;
    width: 317px;
    height: 485px;
    padding: 59px 50px 0 54px;
    background: #eeeeec;
}
.rform-jwy .label-rupv-jwy input[type="text"], .label-rupv-jwy input[type="password"] {
    float: left;
    width: 240px;
    height: 38px;
    border: 0px;
    line-height: 38px;
    color: #959595;
    outline: none;
    -webkit-box-shadow: inset 0 0 0 20px #fff;
    -moz-box-shadow: inset 0 0 0 20px #fff;
    -o-box-shadow: inset 0 0 0 20px #fff;
    -ms-box-shadow: inset 0 0 0 20px #fff;
    box-shadow: inset 0 0 0 20px #fff;
}
/*验证码*/
.activation-code-jwy {
    position: relative;
}
.activation-code-jwy input[type="text"] {
    width: 100px;
    height: 38px;
    border: 0px;
    background: #fff;
    line-height: 38px;
    outline: none;
    color: #959595;
}
.activation-code-jwy input[type="button"] {
    float: right;
    width: 120px;
    height: 38px;
    border: 0px;
    background: #ffa751;
    line-height: 38px;
    text-align: center;
    outline: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    *margin-top: -40px;
}
.userprotocol-jwy {
    position: relative;
    margin-bottom: 23px;
}
.userprotocol-jwy input[type="checkbox"] {
    width: 15px;
    height: 15px;
}
.userprotocol-jwy label {
    position: absolute;
    top: -1px;
    left: 20px;
    font-size: 12px;
}
/*确认密码*/
.sure-jwy {
    padding-bottom: 50px;
    border-bottom: 1px solid #b3b2b2;
}
.sure-jwy a {
    float: left;
    width: 151px;
    height: 38px;
    border: 1px solid #ffa751; 
    line-height: 38px;
    text-align: center;
    font-weight: bold;
    color: #ffa751;
}
.sure-jwy input[type="submit"] {
    float: right;
    width: 150px;
    height: 40px;
    border: 0px;
    background: #ffa751;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    outline: none;
}
/*用户名密码错误部分*/
.tip {
    float: left;
    height: 20px;
    margin-top: 5px;
    padding-left: 30px;
    line-height: 20px;
    color: red;
}
/*注册页面input正确时显示绿色小图标*/
.label-rupv-jwy span, .activation-code-jwy span {
    display: none;
    position: absolute;
    top: 11px;
    right: -25px;
    width: 18px;
    height: 18px;
    background: url(../images/zxm_bg.png) -114px -317px;
}
/*验证正确*/
.label-rupv-jwy .rightspan, .label-rupv-jwy .rightspan {
    display: block;
}

/* 
* @Author: jwy
* @Date:   2015-10-19 10:39:25
* @Last Modified by:   jwy
* @Last Modified time: 2015-10-19 22:40:40
* 用户中心
*/


.main-wxh {
    width: 1100px;
    padding-top: 125px;
    margin: 0 auto;
}
/*左侧信息*/
.content-left-wxh {
    float: left;
    width: 250px;
    height: 730px;
    margin-right: 12px;
    background-color: #2c2c2c;
}
.head-portrait-wxh {
    float: left;
    width: 133px;
    height: 133px;
    margin: 28px 57px 15px 0;
    padding-left: 60px;
    border-radius: 50%;
}
.head-portrait-wxh img {
    width: 133px;
    height: 133px;
}
.content-left-wxh span {
    display: block;
    float: left;
    width: 120px;
    padding-left: 55px;
    font-size: 18px;
    color: #a4a4a4;
    text-align: center;
}
.content-left-wxh em {
    display: block;
    float: left;
    width: 16px;
    height: 21px;
    margin-top: 2px;
    _margin-top: 2px;
    margin-right: 50px;
    background: url(../images/zxm_bg.png) -194px -320px;
}
.con-bottom-wxh {
    float: left;
    width: 174px;
    height: 34px;
    margin: 16px 28px 28px 0;
    padding-left: 38px;
}
.con-bottom-wxh a {
    float: left;
    display: block;
    width: 33px;
    height: 34px;
    margin-right: 10px;             
}
.con-bottom-wxh .sina-wxh {
    background: url(../images/zxm_bg.png) -227px -308px no-repeat;
}
.con-bottom-wxh .qq-wxh {
    background: url(../images/zxm_bg.png) -269px -308px no-repeat;
}
.con-bottom-wxh .weixin-wxh {
    background: url(../images/zxm_bg.png) -311px -308px no-repeat;
}
.con-bottom-wxh .dou-wxh {
    background: url(../images/zxm_bg.png) -354px -308px no-repeat;
}
.btn-wxh {
    float: left;
    width: 100%;
}
.btn-wxh ins {
    display: block;
    width: 152px;
    height: 40px;
    margin: 0 48px 50px 50px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background-color: #ffa751;
    border-radius: 2px;
    cursor: pointer;
}
.dabai-banner-wxh {
    float: left;
    width: 180px;
    height: 300px;
    margin: 0 35px;
    border-radius: 3px;
}
.dabai-banner-wxh a, .dabai-banner-wxh img {
    display: block;
    width: 180px;
    height: 300px;
}
/*右侧信息*/
.content-right-wxh {
    float: right;
    width: 838px;
    /*height: 730px;*/
    background-color: #fff;
}
.content-right-wxh .tit-wxh {
    width: 100%;
    height: 48px;
    background-color: #f4f4f4;
}
.content-right-wxh .tit-wxh h2 {
    position: relative;
    float: left;
    width: 279px;
    height: 32px;
    padding-top: 13px;
    font-size: 18px;
    color: #5a5a5a;
    text-align: center;
    cursor: pointer;
}
.content-right-wxh .tit-wxh span {
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 180px;
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: red;
    border-radius: 50%;
}
.content-right-wxh .con-wxh {
    width: 838px;
    /*height: 666px;*/
}
.content-right-wxh .mysite-wxh {
    width: 838px;
    /*height: 666px;*/
}
.content-right-wxh .mysite-banner-wxh {
    width: 794px;
    height: 290px;
    margin: 16px 22px 14px;
}
.bigpic-show-wxh, .bigpic-show-wxh img {
    float: left;
    width: 386px;
    height: 291px;
}
.smallpic-show-wxh {
    position: relative;
    float: left;
    width: 128px;
    height: 290px;
}
.smallpic-wxh img {
    display: block;
    float: left;
    width: 128px;
    height: 96.67px;
}
.shadow-wxh {
    position: absolute;
    top: 194px;
    left: 0;
    width: 128px;
    height: 96.67px;
    opacity: 0.9;
}
/*广告右侧信息*/
.mysite-banner-wxh .info {
    float: right;
    width: 260px;
    padding-left: 20px;
    height: 290px;
    background: #2c2c2c;
}
.mysite-banner-wxh .info-tit em {
    overflow: hidden;
    width: 195px;
    font-family: "Microsoft Yahei";
    font-size: 24px;
    color: #ffa751;
    line-height: 80px;
}
.mysite-banner-wxh .info-tit span {
    width: 40px;
    height: 15px;
    padding: 3px;
    font-family: "Microsoft Yahei";
    font-size: 12px;
    color: #fff;
    background: #1bab73;
}
.mysite-banner-wxh .info-con {
    float: left;
    overflow: hidden;
    width: 250px;
    height: 30px;
    font-family: "Microsoft Yahei";
    line-height: 30px;
    font-size: 14px;
    color: #dbdbdb;
}
.mysite-banner-wxh .info-con span {
    float: left;
}
.mysite-banner-wxh .info-con i {
    display: block;
    float: left;
    width: 17px;
    height: 17px;
    margin-top: 5px;
    background: url(../images/zxm_bg.png) -208px 2px no-repeat;
}
.mysite-banner-wxh .info-con .score {
    padding-left: 7px;
    color: #ffa751;
}
.mysite-banner-wxh .info-con a {
    padding-left: 5px;
    font-size: 12px;
    text-decoration: underline;
    color: #ffa751;
}
/*相关负责人*/
.mysite-wxh h2 {
    width: 794px;
    height: 40px;
    margin: 15px 22px 0px;
    font-size: 18px;
    color: #5a5a5a;
    text-align: center;
    line-height: 40px;
    background-color: #ddd;
}
/*列表图文展示展示*/
.mysite-wxh .mysite-info-wxh {
    float: left;
    width: 606px;
    /*margin-top: 10px;*/
    margin-bottom: 14px;
    padding-left: 22px;
}
.mysite-wxh .mysite-info-wxh dl {
    display: block;
    float: left;
    width: 188px;
    height: 297px;
    margin-top: 10px;
    margin-right: 14px;
    _margin-right: 12px;
    background-color: #ddd;
}
.mysite-wxh .mysite-info-wxh dt {
    width: 133px;
    height: 133px;
    margin: 23px 28px 11px; 
}
.mysite-wxh .mysite-info-wxh dd h3 {
    float: left;
    width: 106px;
    height: 23px;
    margin-bottom: 15px;
    font-size: 18px;
    color: #5a5a5a;
    text-align: right;
    line-height: 23px;
}
.mysite-wxh .mysite-info-wxh dd em {
    float: left;
    width: 77px;
    height: 23px;
    padding-left: 5px;
    font-size: 14px;
    color: #5a5a5a;
    text-align: left;
    line-height: 23px;
}
.mysite-wxh .mysite-info-wxh dd span {
    float: left;
    width: 145px;
    height: 25px;
    margin-left: 23px;
    font-size: 14px;
    color: #5a5a5a;
    text-align: left;
    line-height: 25px;
}
/*咨询模块*/
.mysite-wxh .mysite-zixun-wxh {
    float: left;
    width: 188px;
    height: 297px;
    margin-top: 10px;
    _margin-left: -10px;
    background-color: #ddd;
}
.mysite-wxh .mysite-zixun-wxh dt {
    width: 133px;
    height: 133px;
    margin: 23px 28px 11px; 
}
.mysite-wxh .mysite-zixun-wxh dd h3 {
    float: left;
    width: 188px;
    height: 23px;
    margin-bottom: 15px;
    font-size: 18px;
    color: #5a5a5a;
    text-align: center;
    line-height: 23px;
}
.mysite-wxh .mysite-zixun-wxh dd span {
    float: left;
    width: 188px;
    height: 25px;
    font-size: 18px;
    color: #5a5a5a;
    text-align: center;
    line-height: 25px;
}
.con-select {
    display: none;
}
.select {
    background: #fff;
}




/*文章部分*/
.mycomments-wxh .mycomments-con-jwy {
    width: 816px;
    padding: 27px 0 0 22px;
}
.mycomments-con-jwy dl {
    width: 793px;
    height: 153px;
}
.mycomments-con-jwy dt {
    float: left;
    width: 207px;
    height: 152px;
}
.mycomments-con-jwy dt a {
    display: block;
    float: left;
    width: 188px;
    height: 140px;
    margin-right: 19px;
}
.mycomments-con-jwy dt img {
    display: block;
    width: 188px;
    height: 140px;
}
.mycomments-con-jwy dd {
    float: left;
    width: 585px;
    padding-top: 12px;
}
.mycomments-con-jwy dd h2 a {
    width: 585px;
    height: 24px;
    margin-bottom: 19px;
    font-size: 18px;
    font-weight: bold;
    color: #595959;
    text-align: left;
}
.mycomments-con-jwy p {
    overflow: hidden;
    width: 571px;
    height: 65px;
    margin-bottom: 8px;
    line-height: 21px;
    font-size: 12px;
    color: #595959;
}
.mycomments-con-jwy span, .mycomments-con-jwy q {
    float：left;
    font-size: 12px;
}
.mycomments-con-jwy a, .mycomments-con-jwy del {
    float: right;
    *margin-top: -15px;
    font-size: 12px;
}
.mycomments-con-jwy del {
    *margin-top: -16px;
    padding-right: 14px;
}
/* 下面的品论部分 */
.comment-con-jwy{
    width: 769px;
    height: 102px;
    padding: 18px 0 0 23px;
    border: 1px solid #e6e6e6;
    background: #f9f9f9;
}
.mycomments-con-jwy .comment-con-jwy dl {
    width: 743px;
    height: 87px;
}
.mycomments-con-jwy .comment-con-jwy .jiantou {
    float: left;
    width: 17px;
    height: 9px;
    margin-top: -27px;
    margin-left: 396px; 
    background: url(../images/zxm_bg.png) -457px -332px;
}
.mycomments-con-jwy .comment-con-jwy dl dt {
    width: 739px;
    height: 29px;
}
.mycomments-con-jwy .comment-con-jwy dl dt b {
    float: left;
}
.mycomments-con-jwy .comment-con-jwy .vip {
    float: left;
    width: 17px;
    height: 14px;
    margin-left: 2px;
    background: url(../images/zxm_bg.png)  -194px -320px;
}
.mycomments-con-jwy .comment-con-jwy dl q {
    float: right;
    color: #ff932a;
    font-size: 14px;
    font-weight: bold;
}
.mycomments-con-jwy .comment-con-jwy dl dd {
    width: 743px;
    height: 66px;
    margin: 0px;
    padding: 0px;
}
.mycomments-con-jwy .comment-con-jwy dl dd p {
    width: 743px;
    height: 48px;
    margin: 0px;
    padding: 0px;
}
.mycomments-con-jwy .comment-con-jwy dl dd em {
    float: right;
    *margin-top: -15px;
    font-size: 12px;
}
/*底下按钮，加载部分*/
.mycomments-wxh {
    position: relative;
    margin-bottom: 78px;
}
.mycomments-wxh label {
    position: absolute;
    bottom: -57px;
    left: 343px;
    width: 153px;
    height: 40px;
    background: #ffa751;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}
.mycomments-submit-jwy {
    display: none;
}
/*帐号设置部分*/
.accountsettings-wxh {
    padding-left: 22px;
}
.account-setup-jwy {
    width: 787px;
    height: 178px;
    margin-bottom: 28px;
    padding: 30px 0 0 29px;
}
.account-setup-jwy img {
    float: left;
    width: 131px;
    height: 131px;
}
.account-setup-jwy .headpic {
    display: none;
}
.account-setup-left label {
    position: absolute;
    top: 149px;
    left: 40px;
    color: #5a5a5a;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
.account-setup-left {
    float: left;
    position: relative;
    width: 166px;
    height: 178px;
}
.account-setup-jwy ul {
    float: left;
}
.account-setup-jwy li {
    position: relative;
}
.account-setup-jwy li input {
    width: 198px;
    height: 37px;
    margin-bottom: 4px;
    /**margin-bottom: 0px;*/
    padding-left: 53px;
    border: 1px solid #e1e1e1;
    background: #f2f2f2;
    line-height: 37px;
    outline: none;
    -webkit-box-shadow: inset 0 0 0 20px #fff;
    -moz-box-shadow: inset 0 0 0 20px #fff;
    -o-box-shadow: inset 0 0 0 20px #fff;
    -ms-box-shadow: inset 0 0 0 20px #fff;
    box-shadow: inset 0 0 0 20px #fff;
}
.account-setup-jwy li span {
    position: absolute;
    top: 8px;
    left: 12px;
    color: #a4a4a4;
}
.account-setup-jwy li label {
    position: absolute;
    top: 12px;
    right: 12px;
    background: #fff;
    color: #5a5a5a;
    text-decoration: underline;
    cursor: pointer;
}
.account-setup-jwy li label:hover {
    color: #ffa751;
}
/*安全信息部分*/
.safety-information {
    /*overflow: hidden;*/
}
.safety-head {
    width: 777px;
    height: 31px;
    margin-bottom: 12px;
    padding-left: 18px;
    background: #dddddd;
}
.safety-head span {
    float: left;
    height: 31px;
    line-height: 31px;
    color: #7a7a7a;
    font-size: 18px;
    font-weight: bold;
}
.safety-head q, var {
    float: right;
    height: 31px;
    line-height: 31px;
    color: #5a5a5a;
    font-size: 12px;
}
.login-pass {
    width: 780px;
    height: 25px;
    margin-bottom: 5px;
    padding: 12px 0 0 13px;
    border: 1px solid #e1e1e1;
    background: #f2f2f2;
    cursor: pointer;
} 
.login-pass del {
    float: left;
    width: 16px;
    height: 16px;
    margin: 2px 10px 0 0px;
    background: url(../images/zxm_bg.png) -299px 0px;
}
.login-pass span {
    float: left;
    color: #b7b7b7;
    font-size: 14px;
    font-weight: bold;
}
.login-pass em {
    float: left;
    color: #5a5a5a;
    font-size: 14px;
    font-weight: bold;
}
.login-pass q {
    float: right;
    margin-top: -5px;
    line-height: 25px;
    color: #a4a4a4;
    font-size: 12px;
}
.login-pass-con {
    overflow: hidden;
    height: 0px;
    margin-top: 4px;
    padding-left: 241px;
}
.login-pass-con li {
    position: relative;
}
.login-pass-con label {
    position: absolute;
    top: 12px;
    left: 15px;
    color: #5a5a5a;
    font-size: 14px;
    font-weight: bold;
}
.login-pass-con input {
    width: 239px;
    height: 39px;
    margin-bottom: 4px;
    padding-left: 75px;
    border: 1px solid #e1e1e1;
    line-height: 39px;
    outline: none;
    -webkit-box-shadow: inset 0 0 0 20px #fff;
    -moz-box-shadow: inset 0 0 0 20px #fff;
    -o-box-shadow: inset 0 0 0 20px #fff;
    -ms-box-shadow: inset 0 0 0 20px #fff;
    box-shadow: inset 0 0 0 20px #fff;
}
.login-pass-con .btn-pass .btn {
    width: 150px;
    height: 38px;
    padding: 0px;
    border: 1px solid #ffa751;
    background: #fff;
    line-height: 38px;
    color: #ffa751;
    font-weight: bold;
    cursor: pointer;
}
.btn-pass {
    height: 52px;
    margin-top: 16px;
}
.login-pass-con .btn-pass .sub {
    display: none;
}
.login-pass-con .btn-pass .lab {
    position: absolute;
    top: 0px;
    left: 164px;
    width: 150px;
    height: 36px;
    border: 1px solid #ffa751;
    background: #ffa751;
    line-height: 36px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}
/*账号绑定*/
.account-binding-jwy {
    margin-bottom: 34px;
}
.account-binding-jwy li {
    width: 778px;
    height: 37px;
    margin-bottom: 4px;
    padding-left: 12px;
    border: 1px solid #dddddd;
    background: #f2f2f2;
}
.account-binding-jwy li span {
    visibility: hidden;
    float: left;
    width: 16px;
    height: 16px;
    margin-top: 12px;
    background: url(../images/zxm_bg.png) -299px 0px;
}
.account-binding-jwy li q {
    float: left;
    width: 34px;
    height: 34px;
    margin: 3px 12px 0 12px;
}
.account-binding-jwy .account-binding-select {
    visibility: visible;
}
.account-binding-sina {
    background: url(../images/zxm_bg.png) -227px -308px no-repeat;
}
.account-binding-qq {
    background: url(../images/zxm_bg.png) -269px -308px no-repeat;
}
.account-binding-weixin {
    background: url(../images/zxm_bg.png) -311px -308px no-repeat;
}
.account-binding-dou {
    background: url(../images/zxm_bg.png) -354px -308px no-repeat;
}
.account-binding-jwy input {
    display: none;
}
.account-binding-jwy label {
    float: right;
    height: 39px;
    padding-right: 16px;
    line-height: 39px;
    color: #ffa751;
    font-weight: bold;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}
.account-binding-jwy ins {
    float: left;
    height: 39px;
    line-height: 39px;
}
.account-binding-jwy del {
   float: left;
    height: 39px;
    line-height: 39px; 
}
.account-binding-jwy .no-binding {
    color: #5a5a5a;
}
.no-binding:hover {
    color: #ffa751;
}



/* 
* @Author: JWY
* @Date:   2015-10-17 21:51:21
* @Last Modified by:   jwy
* @Last Modified time: 2015-10-18 21:20:00
* 找回密码
*/
*/*整体*/
.forgot-box-jwy {
    width: 495px;
    height: 356px;
    margin: 0 auto ;
    padding-top: 230px;
    padding-bottom: 230px;
    /*background: #fff;*/
}
/*头部文字*/
.forgot-box-jwy span {
    float: left;
    height: 61px;
    color: #fff;
    font-size: 24px;
}
.forgot-box-jwy .forgot-step-jwy {
    color: #ffa751;
}
/*第一部，下面表单部分*/
.forgot-con-jwy {
    width: 405px;
    height: 248px;
    padding: 47px 0 0 90px;
    background: rgba(250, 250, 250, 0.8);
}
.tel-num-jwy, .newpass-jwy {
    position: relative;
    height: 61px;
}
.tel-num-jwy input[type="text"], .newpass-jwy  input[type="text"], .surepass-jwy input[type="text"] {
    width: 277px;
    height: 37px;
    padding-left: 35px;
    border: 1px solid #fff;
    line-height: 37px;
    outline: none;
    color: #888888;
}
.tel-num-jwy input:focus, .surepass-jwy input:focus, .newpass-jwy input:focus {
    border: 1px solid #ffa751;
}
.tel-num-jwy label {
    position: absolute;
    top: 11px;
    left: 9px;
    float: left;
    width: 16px;
    height: 16px;
    background: #fff url(../images/zxm_bg.png) 479px -319px;
}
/*验证码*/
.verification-jwy, .surepass-jwy {
    position: relative;
    height: 86px;
}
.verification-jwy label, .newpass-jwy label, .surepass-jwy label {
    position: absolute;
    top: 11px;
    left: 9px;
    float: left;
    width: 16px;
    height: 16px;
    background: #fff url(../images/zxm_bg.png) 527px -317px;
}
.verification-jwy input[type="text"] {
    float: left;
    width: 136px;
    height: 37px;
    margin-right: 20px;
    padding-left: 35px;
    border: 1px solid #fff;
    line-height: 37px;
    outline: none;
    color: #888888;
}
.verification-jwy  input:focus {
    border: 1px solid #ffa751;
}
.verification-jwy img {
    float: left;
    width: 120px;
    height: 39px;
}
/*下一步*/
.forgot-sub-jwy {
    width: 314px;
    /*margin: 0 auto;*/
    padding-left: 81px;
}
.forgot-sub-jwy input[type="submit"] {
    width: 152px;
    height: 40px;
    border: 0px;
    background: #ffa751;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
/*第二部分，重置密码*/
/*.forgot-box-jwy .newPass-jwy {
    height: 61px;
}*/