@charset "utf-8";
html {
    background-color: #e9e9e9;
    -webkit-user-select: none;
}
/* 
* @Author:   LLL
* @Date:   2015-10-16 23:39:20
* @Last Modified by:   anchen
* @Last Modified time: 2015-10-25 16:45:13
* 监理服务页
*/
/*导航模块*/
.service .main {
    width: 100%;
    height: 448px; 
    padding-top: 202px;
    background: url("../images/demo_images/pojImg1.png");
    background-size: 100% 100%;
}
.service .title h1 {
    font-size: 56.43px;
    color: white;
    text-align: center;
}
.service .title p {
    margin: 20px 0 125px 0;
    font-size: 21.16px;
    color: white;
    text-align: center;
}
.service .project {
    overflow: hidden;
    position: relative;
    width: 1108px;
    margin: 0 auto;
    padding-bottom: 60px;
}
.service .marginbox {
    margin-right: -50px;
}
.service .marginbox div {
    float: left;
    width: 143px;
    margin-right: 50px;
    padding: 30px 0;
    padding: 31px 0\9;
    text-align: center;
    color: white;
    cursor: pointer;
}
.service .initial {
    background: url("../images/services.png") 3px 0px no-repeat;
}
.service .initial:hover {
    background: url("../images/services.png") 3px -139px no-repeat;
}
.service .spotTrade {
    background: url("../images/services.png") -190px 0 no-repeat;
}
.service .spotTrade:hover {
    background: url("../images/services.png") -190px -140px no-repeat;
}
.service .shelterPoj {
    background: url("../images/services.png") -382px 1px no-repeat;
}
.service .shelterPoj:hover {
    background: url("../images/services.png") -382px -139px no-repeat;
}
.service .interimPoj {
    background: url("../images/services.png") -575px 1px no-repeat;
}
.service .interimPoj:hover {
    background: url("../images/services.png") -575px -139px no-repeat;
}
.service .materialAccept {
    background: url("../images/services.png") -768px 1px no-repeat;
}
.service .materialAccept:hover {
    background: url("../images/services.png") -768px -139px no-repeat;
}
.service .overAccept {
    background: url("../images/services.png") -962px 1px no-repeat;
}
.service .overAccept:hover {
    background: url("../images/services.png") -962px -139px no-repeat;
}
.service .project strong {
    font-family: "Arial";
    font-size: 48px;
}
.service .project em {
    font-size: 14px;
}
.service .project span {
    display: block;
    font-size: 18px;
}
/*导航模块小箭头*/
.service .poj-con span {
    display: none;
    position: absolute;
    top: -20px;
    left: 5px;
    width: 25px;
    height: 30px;
    background: url("../images/zxm_bg.png") -456px -327px no-repeat;
    /*_background: none;*/
    /*_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="../images/pojBac.png");*/
    z-index: 222;
}
/*导航模块列表项*/
.service .poj-con {
    position: absolute;
    top: 175px;
    left: 80px;
}
.service .initial-con, .service .spottrade-con, .service .shelterpoj-con, .service .interimpoj-con, .service .materialaccept-con, .service .overaccept-con {
    display: none;
    position: absolute;
    top: 0;
    width: 950px;
    padding: 36px 9px 25px 27px;
    background-color: white;
}
.service h2 {
    font-size: 24px;
    text-align: center;
}
.service .main p {
    margin: 17px 0 25px 0;
    font-size: 14px;
    text-align: center;
}
.service .initial-con {
    color: #ff6262;
}
.service .initial-con p {
    margin: 0;
    font-size: 14px;
    text-align: center;
}
.service .initial-con .drawing {
    margin-top: 17px;
}
.service .initial-con .mon {
    margin: 10px 0 25px -85px;
}
.service .initial-con strong {
    font-size: 14px;
    font-weight: bold;
}
.service .spottrade-con {
    color: #f6ae24;
}
.service .shelterpoj-con {
    color: #99cd5c;
}
.service .interimpoj-con {
    color: #54beb8;
}
.service .materialaccept-con {
    color: #6a8cd9;
}
.service .overaccept-con {
    color: #ad70dd;
}
.service .poj-con ul {
    margin: 0 auto;
    width: 960px;
}
.service .poj-con li {
    float: left;
    width: 146px;
    height: 32px;
    margin: 0 17px 4px 0;
    padding: 0 13px;
    font-family: "SimSun";
    line-height: 32px;
    color: white;
}
.service .initial-list li {
    background-color: #ff6262;
}
.service .spottrade-list li {
    background-color: #f6ae24;
}
.service .shelterpoj-list li {
    background-color: #99cd5c;
}
.service .interimpoj-list li {
    background-color: #54beb8;
}
.service .materialaccept-list li {
    background-color: #6a8cd9;
}
.service .overaccept-list li {
    background-color: #ad70dd;
}
/*常见问题模块*/
.service .program {
    width: 1100px;
    margin: 11px auto 0;
    border-bottom: 80px solid #e9e9e9;
    background-color: white;
}
/*常见问题*/
.service .program h2 {
    height: 78px;
    line-height: 78px;
    text-align: center;
    font-size: 30px;
    background-color: #f9f9f9;
}
/*问题列表*/
.service .program-list {
    width: 550px;
    margin: 50px auto;
}
.service .program-list div {
    overflow: hidden;
    position: relative;
    padding: 20px 0 14px 0;
    border-bottom: 1px solid #e3e3e3;
}
.service .program-list h3 {
    overflow: hidden;    
    width: 96%;
    height: 27px;
    font-size: 21px;
    white-space: nowrap;
    text-overflow: ellipsis;  
    cursor: pointer;
}
.service .program-list span {
    position: absolute;
    right: 5px;
    top: 30px;
    width: 18px;
    height: 12px;
    background: url("../images/zxm_bg.png") -480px -327px no-repeat;
}
/*问题详情*/
.service .program-list p {
    display: none;
    overflow: hidden;
    width: 550px;
    margin-top: 10px;
    font-size: 12px;
    line-height: 20px;
    color: #797979;
}

/* 
* @Author: LLL
* @Date:   2015-10-17 07:42:32
* @Last Modified by:   anchen
* @Last Modified time: 2015-10-19 16:38:03
* 监理团队页
*/
/*@charset "utf-8";*/
.svteam {
    width: 100%;
    /*height: 780px;*/
    background: url("../images/demo_images/pojImg1.png");
    background-size: 100% 100%;
}
.svteam .main {
    width: 918px;
    margin: 0 auto;
    padding-top: 150px;
    z-index: 20;
}
.svteam .title h1 {
    font-size: 56.43px;
    text-align: center;
    color: white;
}
.svteam .title p {
    margin-top: 20px;
    font-size: 21.16px;
    text-align: center;
    color: white;
}
.svteam .people {
    overflow: hidden;
    margin-top: 39px;
}
.svteam .people dl {
    float: left;
    width: 183px;
    height: 167px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}
.svteam .people dt {
    margin: 0 auto 14px;
    width: 112px;
    height: 112px;
}
.svteam .people dt img {
    display: block;
    width: 112px;
    height: 112px;
    cursor: pointer;
}
.svteam .people h3 {
    overflow: hidden;
    width: 185px;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.svteam .people p {
    overflow: hidden;
    width: 185px;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.svteam .people .certificate dt {
    background: url("../images/demo_images/certificate.png") center center no-repeat;
}

/*点击小图预览*/
.svteam .wrap-pic {
    position: fixed;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    min-width: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#DF000000,endcolorstr=#DF000000); 
}
.svteam .wrap-pic img {
    display: none;
    position: absolute;
    left: 30%;
    top: 27%;
    width: 40%;
    height: 50%;
}
.svteam .wrap-pic button {
    display: none;
    position: absolute;
    top: 27%;
    right: 30%;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #555;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
}

/* 
* @Author: lll
* @Date:   2015-10-17 18:27:59
* @Last Modified by:   anchen
* @Last Modified time: 2015-10-23 23:26:06
* 监理案例页
*/
.case {
    position: relative;
    top: 100px;
}
.case .main {
    position: relative;
    height: 80px;
    background-color: #3a3a3a;
}
/*分类信息*/
.case .main ul {
    display: none;
    width: 1052px;
    margin: 0 auto;
    padding: 24px 0;
}
.case .main li {
    font-family: "SimSun";
    font-size: 14px;
    line-height: 36px;
    color: #9f9f9f;
}
.case .main a {
    padding: 6px 10px;
    color: #9f9f9f;
}
.case .main .area-class {
    position: relative;
}
.case .main .move_drop {
    position: absolute;
    right: 0;
    top: 2px;
    width: 16px;
    height: 24px;
    background: url(../images/zxm_bg.png) -505px 6px no-repeat;
}
.case .morearea {
    display: none;
    margin-left: 118px;
}
.case .main a:hover {
    color: white;
    background-color: #ffa851;
    border-radius: 10px;
}
.case .main .select {
    color: white;
    background-color: #ffa851;
    border-radius: 10px;
}
/*点击展开*/
.case .ui-class {
    position: absolute;
    top: 58px;
    left: 595px;
    padding: 8px 20px;
    font-size: 18px;
    color: white;
    background-color: #ffa751;
    border-radius: 10px;
    cursor: pointer;
}
/*共检索的工地*/
.case .info-class {
    width: 1100px;
    margin: 16px auto;
}
.case .info-class h2 {
    float: left;
}
.case .info-class span {
    float: right;
    padding: 0 10px;
    border-right: 1px solid #5a5a5a;
    cursor: pointer;
}
.case .info-class span:hover, .case .info-class .show {
    text-decoration: underline;
    color: #ff9021;
}
.case .info-class .com {
    border: none;
}
/*用户工地*/
.case .user-info {
    width: 1140px;
    margin: 0 auto 28px;
     -webkit-user-select: none;
}
.case .user-info dl {
    float: left;
    position: relative;
    height: 190px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.case .user-info dt img, .case .user-info dt a {
    display: block;
    float: left;
    width: 255px;
    height: 190px;
}
.case .user-info .photo {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 55px;
    padding: 6px 0 0 80px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.case .user-info .photo img {
    position: absolute;
    top: -10px;
    left: 10px;
    width: 55px;
    height: 55px;
}
.case .user-info .photo h3 {
    float: left;
    width: 50px;
    height: 20px;
    font-size: 14px;
    color: #e5e5e5;
}
.case .user-info .photo span {
    float: left;
    width: 120px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #a4a4a4;
}
.case .user-info .photo p {
    float: left;
    width: 125px;
    font-size: 12px;
    color: #a4a4a4;
}
.case .user-info .photo .over {
    float: left;
    width: 41px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    background-color: #1bab73;
    color: white;
}
/*显示具体信息*/
.case .concrete {
    display: none;
    position: absolute;
    top: 0;
    left: 255px;
    width: 265px;
    height: 153px;
    padding: 19px 0 18px 20px;
    background-color: black;
    z-index: 9;
}
.case .concrete h2 {
    margin-bottom: 13px;
    font-size: 18px;
    color: #ffa751;
}
.case .concrete li {
    font-size: 12px;
    line-height: 20px;
    color: #a4a4a4;
}
.case .concrete li em {
    font-size: 13px;
    font-family: "SimSun";
    color: #dbdbdb;
}
.case .concrete .over {
    float: right;
    display: inline;
    width: 90px;
    height: 10px;
    margin: 6px 20px 0 0;
    background: url("../images/demo_images/over.png") center center no-repeat;
}
.case .concrete .over-num {
    float: right;
    padding-right: 30px;
    margin-left: -10px;
}
/*更多案例*/
.case .user-info .more {
    float: left;
    width: 255px;
    text-align: center;
    line-height: 190px;
    font-size: 18px;
    color: white;
    background-color: #ffa751;
}
/*正在加载；处理边距*/
.case .loading {
    width: 150px;
    margin: 30px auto 0;
    padding-bottom: 200px;
}


/* 
* @Author: ssd
* @Date:   2015-10-20 11:13:06
* @Last Modified by:   anchen
* @Last Modified time: 2015-10-20 11:31:43
*/
/*监理案例详情页样式*/
.details {
    min-width: 1100px;
    width: 1100px;
    padding-top: 110px;
    margin: 0 auto;
}
.details .nav a {
    font-size: 12px;
    font-family: "Microsoft Yahei";
    line-height: 35px;
    color: #5a5a5a;   
}
.details .nav i {
    padding: 0 6px;
    color: #5a5a5a;
    font-family: "Microsoft Yahei";
    vertical-align: middle;
    font-size: 13px;
}
/*图文介绍模块*/
.details .basic-main {
    width: 1100px;
    margin: 0 auto 12px;
}
.details .b-left {
    float: left;
    width: 825px;
}
.details .b-left-img {
    float: left;
    width: 535px;
}
.details .pic-show .big-pic {
    width: 400px;
    height: 300px;
}
.details .pic-show img {
    float: left;
    width: 135px;
    height: 100px;
}
.details .pic-more {
    float: left;
    position: relative;
    overflow: hidden;
}
.details .pic-more img {
    float: left;
    width: 135px;
    height: 100px;
}
.details .num {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 135px;
    height: 100px;
    background: rgba(2, 2, 2, 0.5);
    filter: alpha(opacity=50); 
}
.details .num-logo {
    display: inline;
    position: absolute;
    z-index: 3;
    left: 40%;
    top: 20%;
    width: 30px;
    height: 30px;
    background: url(../images/zxm_bg.png) -177px 5px no-repeat;
}
.details .pic-count {
    display: inline;
    position: absolute;
    z-index: 3;
    left: 45%;
    bottom: 10%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    color: #ffa751;
}
.details .info {
    float: left;
    width: 270px;
    padding-left: 20px;
    height: 300px;
    background: #2c2c2c;
}
.details .info-tit em {
    overflow: hidden;
    width: 195px;
    font-family: "Microsoft Yahei";
    font-size: 24px;
    color: #ffa751;
    line-height: 80px;
}
.details .info-tit span {
    width: 40px;
    height: 15px;
    padding: 3px;
    font-family: "Microsoft Yahei";
    font-size: 12px;
    color: #fff;
    background: #1bab73;
}
.details .info-con {
    overflow: hidden;
    width: 250px;
    height: 30px;
    font-family: "Microsoft Yahei";
    line-height: 30px;
    font-size: 14px;
    color: #dbdbdb;
}
.details .info-con .score {
    padding-left: 93px;
    color: #ffa751;
    background: url(../images/yellowstar.png) 0px 0px no-repeat;
}
.details .info-con a {
    padding-left: 5px;
    font-size: 12px;
    text-decoration: underline;
    color: #ffa751;
}
.details .peo-info {
    float: left;
    width: 205px;
    height: 265px;
    margin-left: 10px;
    padding: 30px 5px 5px 55px;
    background: #ffa751;
}
.details .per-info img{
    display: block;
    width: 130px;
    height: 130px;
}
.details .peo-info dd {
    overflow: hidden;
    width: 185px;
    height: 25px;
    line-height: 25px;
}
.details .peo-info .person {
    overflow: hidden;
    width: 185px;
    height: 30px;
}
.details .peo-info .person span {
    float: left;
    width: 65px;
    padding-left: 30px;
    font-size: 18px;
    color: #40332c;
    font-family: "Microsoft Yahei";
}
.details .peo-info span, .details .peo-info em {
    float: left;
    font-size: 14px;
    color: #40332c;
    font-family: "Microsoft Yahei";
}
.details .peo-info .black-star {
    width: 85px;
    height: 23px;
    background: url(../images/zxm_bg.png) -210px -26px no-repeat;
}

/*项目分类模块*/
.details .project {
    width: 1040px;
    height: 100px;
    margin: 0 auto;
    padding: 40px 30px;
    background: #fff;
}
.details .pro-tit {
    float: left;
    width: 560px;
    height: 79px;
    background: url(../images/pro_bg.png) 2px 0px no-repeat;
}
.details .project .first {
    margin-left: 0px;  
}
.details .project a {
    float: left;
    width: 79px;
    height: 79px;
    text-align: center;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    line-height: 79px;
    margin-left: 39px;
    color: #fff;
}
.details .project .change {
    color: #1bab73;
    background: url(../images/zxm_bg.png) 0px -230px no-repeat;
}
.details .bg {
     background: url(../images/zxm_bg.png) 0px -131px no-repeat;
}
.details .pro-oper {
    float: left;
    width: 240px;
    height: 79px;
}
.details .pro-oper a {
    float: left;
    width: 79px;
    height: 79px;
    margin-left: 39px;
    background: url(../images/zxm_bg.png) -90px -131px no-repeat;
}
.details .pro-speed {
    position: relative;
    float: left;
    overflow: hidden;
    width: 240px; 
    height: 79px;
}
.details .project .pro-speed span {
    float: left;
    width: 200px;
    height: 50px;
    padding-left: 30px;
    line-height: 65px;
    font-size: 24px;
    color: #d1d1c1;
    text-align: center;
}
.details .pro-speed em {
    position: absolute;
    left: 35px;
    bottom: 0px;
    width: 180px;
    height: 9px;
    background: #d1d1d1;
}
.details .pro-speed i {
    position: absolute;
    left: 35px;
    bottom: 0px;
    width: 120px;
    height: 9px;
    background: #1bab73;
}
/*内容模块*/
.details .bef-tit, .details .ba-tit {
    width: 1080px;
    height: 80px;
    line-height: 80px;
    text-indent: 1em;
    border-left: 20px solid #ffa751;
    background: #3a3a3a;
 }
 .details .bef-tit h2, .details .ba-tit h2 {
    float: left;
    font-size: 24px;
    color: #fff;
 }
 .details .bef-tit span, .details .ba-tit span {
    float: left;
    font-size: 14px;
    color: #a4a4a4;
 }
 .details .con-before, .details .con-basic {
    width: 100%;
    background: #fff;
    margin-top: 10px;
 }
 .details .bef-left, .details .ba-info .bef-list {
    float: left;
    padding-top: 25px;
   
 }
 .details .bef-left h3 {
    width: 775px;
    height: 35px;
    padding: 0 5px;
    margin-left: 25px;
    margin-bottom: 2px;
    background: #dddddd;  
 }
.details .bef-head a,
.details .bef-head span {
    font-size: 14px;
    line-height: 35px;
    color: #787878;
}
.details .bef-head span {
    float: left;
} 
.details .bef-head a {
    float: right;
    font-weight: bold;
    text-decoration: underline;
}
.details .bef-head em {
    float: right;
    line-height: 35px;
    font-size: 12px;
    color: #787878;
}
.details .bef-detail, .details .bef-list {
    display: inline;
    float: left;
    width: 245px;
    margin-left: 25px;
}
.details .bef-detail li, .details .bef-list li {
    float: left;
    overflow: hidden;
    width: 243px;
    height: 32px;
    margin-bottom: 2px; 
    border: 1px solid #f0f0f0;
    line-height: 32px;
}
.details .list .list-tit {
    font-size: 14px;
    font-weight: bold;
    color: #787878;
    text-align: center;
    background: #ddd;
}
.details .bef-detail span, .details .bef-list span {
    float: left;
    width: 80px;
    height: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-indent: 1em;
    font-size: 12px;
    color: #5a5a5a;
    background: #f0f0f0;
}
.details .bef-detail span {
    width: 84px;
}
.details .bef-list span {
    width: 180px;
}
.details .bef-detail em {
    float: left;
    height: 32px;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #5a5a5a;
}
.details .bef-detail em {
    width: 149px;
}
.details .bef-list em {
    display: inline;
    float: left;
    margin: 5px 20px 5px 20px;
    width: 16px;
    height: 22px;
}
.details .bold {
    font-weight: bold;
}
.details .bold:hover {
    text-decoration: underline;
}

/*背景图*/
.details .check {
      background: url(../images/zxm_bg.png) -299px 3px no-repeat;
}
.details .points {
    background: url(../images/zxm_bg.png) -130px -70px center no-repeat;
}
.details .imglogo {
    background: url(../images/zxm_bg.png) -315px 3px no-repeat;
}
.details .null {
    background: url(../images/zxm_bg.png) -347px 0 no-repeat;
}
.details .trouble {
    background: url(../images/zxm_bg.png) -331px 0 no-repeat;
}
.details .bef-list .num-change {
    width: 16px;
    height: 16px;
    margin: 10px 0 0 20px;
    text-align: center;
    line-height: 16px;
    color: #fff;
    font-size: 12px; 
    background: red;
    border-radius: 3px;
}
.details .bef-right {
    float: left;
    width: 265px;
    padding-top: 25px;
}
.details .bef-right h3 {
    width: 265px;
    height: 35px;
    padding: 0 5px;
    margin-left: 2px;
    margin-bottom: 10px;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    color: #787878;
    background: #dddddd;  
}
.details .bef-right li {
    width: 245px;
    padding-left: 20px;
    line-height: 25px;
    font-size: 12px;
    color: #787878;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.details .ba-point {
    float: right;
    width: 400px;
    height: 80px;
    padding-right: 22px;
    line-height: 80px;  
}
.details .ba-point span {
    float: left;
    width: 80px;
    height: 80px; 
    line-height: 80px;
    text-align: left;
}
.details .ba-point em {
    float: left;
    width: 16px;
    height: 20px;
    margin-top: 30px; 
}

/*表格*/
.details .problem {
    width: 1054px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
}
.details .list {
    margin-bottom: 20px;
}
.details .problem thead {
    height: 38px;
    line-height: 38px;
}
.details thead th {
    border: 1px solid #d4d4d4;
    text-align: center;
    color: #787878;
    background: #ddd;
} 
.details table td {
    overflow: hidden; 
    height: 38px;
    border: 1px solid #d4d4d4;
    line-height: 38px;
    text-align: left;  
    font-size: 12px;
    text-indent: 1em;
    white-space: nowrap; 
    text-overflow: ellipsis;
    color: #5a5a5a;   
}
.details .table-num {
    width: 56px;    
}
.details .pro-point {
    width: 180px;
}
.details .pro-reason{
    width: 280px;
}
.details .date{
    width: 100px;
}
.details .result{
    width: 330px;
}
.details .num-index {
    width: 16px;
    height: 16px;
    margin-left: 15px;
    text-indent: 0;
    text-align: center;
    line-height: 16px;
    color: #fff;
    background: red;
    border-radius: 3px;
}
.details .accept-change {
    float: left;
    display: inline;
    width: 525px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    font-size: 14px;
}
.details .accept-change caption {
    height: 40px;
    margin-bottom: 2px;
    text-align: center;
    line-height: 40px;
    color: #787878;
    font-size: 14px;
    font-weight: bold;
    background: #dddddd;   
}
.details .accept-change th {
    height: 38px;
    line-height: 38px;
    border: 1px solid #d4d4d4;
    text-align: center;
    color: #787878;
}

/*工程评价*/
.details .assess, .details .assess-owner {
    float: left;
    display: inline;
    width: 325px;
    height: 320px;
    margin: 30px 0 30px 32px;
    padding: 30px 0 0 0;   
}
.details .assess {
     background: #ffa751;
}
.details .assess-owner {
     background: #ff6969;
}
.details .assess img, .details .assess-owner img {
    display: block;
    margin: 0 auto;
    width: 130px;
    height: 130px;
}
.details .assess dd, .details .assess-owner dd {
    overflow: hidden;
    width: 200px;
    height: 25px;
    margin: 0 auto;
    line-height: 25px;
}
.details .assess .ass-con, .details .assess-owner .ass-con {
    width: 220px;
    height: 120px;
    margin: 10px auto;
}
.details .assess .ass-con p, .details .assess-owner .ass-con p {
    width: 220px;
    height: 120px;
    font-size: 13px;
    color: #fff;
}
.details .assess .person, .details .assess-owner .person {
    overflow: hidden;
    width: 185px;
    height: 30px;
    margin: 0 auto;
}
.details .assess .person span, .details .assess-owner .person span {
    float: left;
    width: 70px;
    padding-left: 40px;
    font-size: 18px;
    color: #fff;
    font-family: "Microsoft Yahei";
}
.details .assess span, .details .assess em, .details .assess-owner span, .details .assess-owner em {
    float: left;
    font-size: 14px;
    color: #fff;
    font-family: "Microsoft Yahei";
}
.details .assess .white-star, .details .assess-owner .white-star {
    float: left;
    width: 72px;
    height: 23px;
    margin-right: 5px;
    background: url(../images/zxm_bg.png) -365px 6px no-repeat;
}
/*JS增加类*/
.details .p-fixed {
    position: fixed;
    top: 0;
    z-index: 99;
}
.details .b-margin {
    margin-bottom: 245px;
}
/*图片滚动模块*/
.scroll-sd, .scroll-lr {
    position: relative;
    width: 100%;
    height: 190px;
    margin-top: 15px;
    padding: 26px 0 55px;
    background: #3a3a3a;
}
.scroll-sd .pic-con {
    overflow: hidden;
    position: absolute;
    left: 130px;
    width: 1100px;
    height: 190px;
    margin: 0 auto;
}
.scroll-sd .pic {
    /*overflow: hidden;*/
    float: left;
    height: 190px;
    width: 2200px;
}
/*.scroll-sd .pic a {
    float: left;   
}*/
.scroll-sd .posi {
    float: left; 
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 190px;
    margin-right: 30px;
}
.scroll-sd .posi img {
    position: absolute;
    float: left;
    width: 250px;
    height: 190px;
}
.scroll-sd .per-show {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 80px;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
.scroll-sd .per-show dt {
    float: left;
    width: 60px;
    height: 70px;
    padding-left: 10px;
}
.scroll-sd .posi .per-show img {
    display: inline;
    width: 55px;
    height: 55px;
    margin-top: -10px;
}
.scroll-sd .per-show dd {
    overflow: hidden;
    width: 175px;
}
.scroll-sd .per-show h3 {
    float: left;
    overflow: hidden;
    width: 70px;
    height: 20px;
    text-indent: 1em;
    font-size: 14px;
    padding-top: 6px;
    color: #e5e5e5;
}
.scroll-sd .per-show span {
    float: left;
    width: 100px;
    height: 20px;
    padding-top: 10px;
    line-height: 20px;
    font-size: 12px;
    color: #a4a4a4;
}
.scroll-sd .per-show p {
    height: 22px;
    overflow: hidden;
    text-indent: 1em;
    font-size: 12px;
    color: #a4a4a4;
}
.scroll-sd .left {
    position: absolute;
    top: 100px;
    left: 80px; 
    width: 23px;
    height: 40px;
    cursor: pointer;
    background: url(../images/zxm_bg.png) -458px 0px no-repeat;
}
.scroll-sd .right {
    position: absolute;
    top: 100px;
    right: 90px; 
    width: 23px;
    height: 40px;
    cursor: pointer;
    background: url(../images/zxm_bg.png) -479px 0px no-repeat;
}

/*查看大图模块*/
.big-img-sd {
    position: fixed;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#DF000000,endcolorstr=#DF000000); 
    z-index: 999;
}
.big-img-sd  .con-img {
    display: none;
    overflow: hidden;
    position: absolute;
    left: 27%;
    width: 600px;
    height: 300px;  
    margin: 80px auto 0;
    z-index: 22;
}
.big-img-sd  .con-dicm {
    float: left;
    height: 300px;
    width: 2000px;
}
.big-img-sd  .con-dicm img {
    float: left;
    width: 600px;
    height: 300px;
}
.big-img-sd .close {
    display: none;
    position: absolute;
    top: 70px;
    right: 350px;
    width: 30px;
    height: 30px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    opacity: 0.5;
}
.big-img-sd .img-info {
    display: none;
    overflow: hidden;
    position: absolute;
    bottom: 0%;
    left: 27%;
    width: 600px;
    height: 200px; 
    color: #d9d9d9;
}
.big-img-sd .img-info h3 {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
}
.big-img-sd .img-info p {
   font-size: 12px;
   line-height: 20px;
}
.details .img-le {
    display: none;
    position: absolute;
    top: 190px;
    left: 250px; 
    width: 40px;
    height: 70px;
    cursor: pointer;
    background: url(../images/zxm_bg.png) -381px -230px no-repeat;
}
.details .img-ri {
    display: none;
    position: absolute;
    top: 190px;
    right: 250px; 
    width: 40px;
    height: 70px;
    background: url(../images/zxm_bg.png) -428px -230px no-repeat;
    cursor: pointer;
}
.details .page {
    display: none;
    position: absolute;
    right: 50%;
    bottom: 10%;
    line-height: 25px;
    margin-top: 5px;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

/* 
* @Author: nyh
* @Date:   2015-10-17 07:42:32
* @Last Modified by:   anchen
* @Last Modified time: 2015-10-19 16:38:03
* 文章列表页
*/
.wrap-nyh {
    position: relative;
    top: 120px;
    width: 1100px;
    margin: 0 auto;
    padding-bottom: 200px;
}
.ranking-nyh {
    height: 400px;
}
.ranking-nyh li {
    overflow: hidden;
    position: absolute;
    width: 10px;
    height: 78px;
    font-size: 30px;
    text-indent: 25px;
    font-family: "微软雅黑";
    line-height: 78px;
    color: #fff;
    z-index: 2;
}
.ranking-nyh .ranking-top1 {
    background-color: rgba(255, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#77ff0000',endColorstr = '#88ff0000' );
}
.ranking-nyh .ranking-top2 {
    top: 80px;
    background-color: rgba(255, 90, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#77ff5a00',endColorstr = '#88ff5a00' );
}
.ranking-nyh .ranking-top3 {
    top: 160px;
    background-color: rgba(90, 255, 90, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#775aff5a',endColorstr = '#885aff5a' );
}
.ranking-nyh .ranking-top4 {
    top: 240px;
    background-color: rgba(70, 255, 255, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#7746ffff',endColorstr = '#8846ffff' );
}
.ranking-nyh .ranking-top5 {
    top: 320px;
    background-color: rgba(255, 0, 255, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#77ff00ff',endColorstr = '#88ff00ff' );
}
.ranking-nyh .top1-nyh {
    position: absolute;
    left: 10px;
    width: 680px;
    height: 400px;
    z-index: 1;
    border-left: 2px solid #fff;
}
.header-nyh {
    position: relative;
    float: right;
    width: 348px;
    height: 340px;
    padding: 30px;
    background-color: #fff;
}
.header-nyh .header-english-nyh span {
    display: block;
    line-height: 36px;
    font-size: 36px;
    color: #eee;
}
.header-nyh div {
    display: none;
}
.header-nyh .box-llone {
    display: block;
}
.top1-logo-nyh {
    position: absolute;
    top: 30px;
    right: 40px;
    width: 77px;
    height: 100px;
    background: url(../images/zxm_bg.png) -190px -130px no-repeat;
}
.header-nyh h2 {
    font-size: 30px;
    color: #555;
    font-family: "微软雅黑";
}
.header-nyh p {
    margin-top: 15px;
    font-size: 12px;
    line-height: 20px;
}
.label-nyh {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 378px;
    height: 60px;
    padding-left: 30px;
    line-height: 60px;
    background-color: #f9f9f9;
}
.label-nyh span:nth-of-type(1) {
    font-weight: bold;
}
.label-nyh span {
    margin-right: 5px;
    font-size: 12px;
}

/* ----------------------------- */
.sort-search-nyh {
    position: relative;
    height: 40px;
    margin: 5px 0;
    line-height: 40px;
}
.sort-search-nyh a {
    display: inline-block;
    width: 70px;
    text-align: center;
    
}
.sort-search-nyh .release {
    color: #f90;
    font-weight: bold;
    text-decoration: underline;
}
.sort-search-nyh a:hover {
    color: #f90;
    font-weight: bold;
    text-decoration: underline;
}
.sort-search-nyh label {
    position: absolute;
    right: 5px;
    top: 3px;
    width: 30px;
    height: 30px;
    z-index: 2;
    background: url(../images/zxm_bg.png) -413px -313px no-repeat;
    background-size: contain;
}
.sort-search-nyh input {
    position: absolute;
    right: 0;
    width: 395px;
    height: 30px;
    padding-left: 5px;
    font-size: 12px;
    z-index: 1;
    input::-ms-clear {
        display: none;
    }
}

/* -----------内容部分------------- */
.content-nyh {
    position: relative;
    margin-bottom: 12px;
    background-color: #fff;
}
.content-nyh dt img, .content-nyh dt a {
    float: left;
    width: 253px;
    height: 189px;
}
.content-nyh dd {
    float: left;
    width: 797px;
    padding: 30px 0 0 25px;
}
.content-nyh dd .pic-nyh {
    float: left;
    width: 17px;
    height: 18px;
     background: url(../images/zxm_bg.png) -190px -70px no-repeat;
    background-size: contain;
}
.content-nyh dd h3 {
    float: left;
    overflow: hidden;
    width: 650px;
    margin-bottom: 20px;
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.content-nyh dd img {
    position: absolute;
    top: 20px;
    right: 30px;
}
.professional-nyh {
    position: absolute;
    top: 30px;
    right: 80px;
    font-size: 12px;
    color: #777;
}
.content-nyh dd p {
    overflow: hidden;
    float: left;
    width: 797px;
    font-size: 12px;
    line-height: 17px;
}
.content-foot-nyh {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 797px;
    height: 47px;
    padding: 0 25px;
    text-align: center;
    line-height: 47px;
    background-color: #f9f9f9;
}
.content-foot-nyh span {
    font-size: 12px;
}
.content-foot-nyh span:nth-of-type(1) {
    float: left;
    margin-right: 10px;
}
.content-foot-nyh span:nth-of-type(2) {
    float: left;
}
.content-foot-nyh span {
    float: right;
    margin-right: 5px;
}
.foot-digital-nyh {
    color: #f70;
}

/* 
* @Author: nyh
* @Date:   2015-10-17 07:42:32
* @Last Modified by:   anchen
* @Last Modified time: 2015-10-19 16:38:03
* 文章列表详情页
*/
.wrapx-nyh {
    width: 1100px;
    margin: 0 auto;
    padding-top: 110px;
}
.path-nyh {
    height: 37px;
    line-height: 37px;
    font-size: 12px;
}
.headerx-nyh {
    height: 40px;
    padding: 35px 0;
    text-align: center;
    background-color: #f9f9f9;
}
.headxline-nyh {
    width: 370px;
    margin: 0 auto;
}
.headxline-nyh span {
    float: left;
    width: 17px;
    height: 18px;
    margin-top: 5px;
    background: url(../images/zxm_bg.png) -190px -70px no-repeat;
    background-size: contain;
}
.headxline-nyh h2 {
    font-size: 21px;
    font-family: "微软雅黑";
}
.time-information .digital-nyh {
    color: #f70;
}
.time-information span {
    font-size: 12px;
    color: #777;
}
.contentx-nyh {
    padding: 25px 160px 0;
    background-color: #fff;
}
.contentx-nyh img, .contentx-nyh p {
    padding-bottom: 25px;
}
.contentx-nyh p {
    font-size: 14px;
    line-height: 25px;
    text-indent: 2em;
}
.praise-nyh {
    text-align: center;
}
.praise-nyh .praise-icon {
    width: 80px;
    height: 25px;
    margin: 0 auto 20px;
    padding-top: 55px;
    text-align: center;
    color: #fff;
    background: url(../images/zxm_bg.png) 2px -345px no-repeat;
}
.share-nyh {

}
.weibo-nyh {
    display: inline-block;
    width: 33px;
    height: 33px;
    background: url(../images/zxm_bg.png) -226px -307px no-repeat;
}
.qq-nyh {
    display: inline-block;
    width: 33px;
    height: 33px;
    background: url(../images/zxm_bg.png) -269px -307px no-repeat;
}
.wechat-nyh {
    display: inline-block;
    width: 33px;
    height: 33px;
    background: url(../images/zxm_bg.png) -311px -307px no-repeat;
}
.dou-nyh {
    display: inline-block;
    width: 33px;
    height: 33px;
    background: url(../images/zxm_bg.png) -354px -307px no-repeat;
}
.comments-nyh {
    width: 1100px;
    margin-top: 10px;
    background-color: #fff;
}

/* 
* @Author:   cql
* @Date:   2015-10-16 23:39:20
* @Last Modified by:   anchen
* @Last Modified time: 2015-10-19 16:09:24
* 蜜材活动（活动页）
*/
/*广告栏*/
.activity-ll {
    width: 100%;
    height: 498px;
    margin-bottom: 20px;
}
.banner-picshow-wxh {
    width: 100%;
    height: 380px;
    margin-bottom: 30px;
    background: url(../images/demo_images/pojImg2.png) left center;
}
.activity-lll {
    overflow: hidden;
    width: 85%;
    height: 268px;
    padding-top: 110px;
    margin-left: 15%;
}
#carousel img {
    display: block;
    float: left;
    padding: 25px;
    width: 250px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
}
#donate {
    overflow: hidden;
    width: 750px;
    padding: 50px 75px;
    margin: 0 auto;
    border-top: 1px solid #999;
}
#donate p, #donate form {
    float: left;
    margin: 0px;
}
#donate p {
    width: 650px;
}
#donate form {
    width: 100px;
}

/*中部主体信息*/
.main-cql {
    width: 1100px;
    margin: 0 auto 20px;
    background-color: #fff;
}
.main-left-cql {
    float: left;
    width: 700px;
    margin: 15px 44px 0px 20px;
}
.main-left-cql h2 {
    float:left;
    width: 700px;
    height: 42px;
    margin-bottom: 20px;
    background-image: url(../images/youhui.jpg);
}
.main-left-cql ul li {
    float: left;
    height: 210px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
}
.main-left-cql .act-pic img, .main-left-cql .act-pic a {
    display: block;
    float: left;
    width: 240px;
    height: 180px;
}
.unite-cql {
    float: right;
    width: 408px;
    height: 155px;
    padding: 10px 0px 15px 36px;
}
.unite-cql h3 a {
    overflow: hidden;
    font-size: 18px;
    line-height: 48px;
    color:#2c2c2c;
}
.unite-cql p {
    overflow: hidden;
    height: 65px;
    font-size: 12px;
    line-height: 21px;
    color: #727272;
}
.timer-cql em {
    font-size: 14px;
    color: #ffa851;
}
.timer-cql span {
    font-size: 14px;
    color: #ffa851;
}
/*侧边栏*/
.main-right-cql {
    position: relative;
    float: right;
    width: 284px;
    height: 554px;
}
.inline-fuli-cql {
    position: absolute;
    top: -20px;
    right: 0px;
    width: 284px;
    height: 77px;
    background-image: url(../images/fuli.gif);
}
.main-right-cql p {
    width: 240px;
    margin: 20px 0;
    padding-top: 57px;
    font-size: 12px;
    color: #888;
    line-height: 18px;
}
.inline-caigou-cql {
    width: 284px;
    height: 42px;
    background: url(../images/caigou1.jpg) no-repeat;
}
.main-right-cql img {
    width: 264px;
    height: 334px;
}
.icon-cql img {
    float: left;
    width: 1060px;
    height: 150px;
    padding-left: 15px;
}
.activity-wxh {
    width: 1100px;
    height: 560px;
    margin: 20px auto 0;
    background-color: #fff;
}
.shanjia-cql {
    float: left;
    width: 1060px;
    height: 42px;
    margin-top: 20px 0 20px 20px;
    background: url(../images/shangjia.jpg) no-repeat;
}
/*商标*/
.logolist-cql {
    float: left;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#a7000000',endColorstr = '#ee000000' ); 
}
.logolist-cql ul {
    float: left;
    width: 100%;
    height: 500px;
    list-style-type: none;
    margin: 0px; 
    padding: 0px; 
}
.logolist-cql ul li { 
    position: relative;
    float: left;
    padding: 15px 10px;
}
.logolist-cql ul li img { 
    position: relative;
    width: 200px;
    border: none;
}
.logolist-cql ul li img.active {
    border: 4px solid white;
    left: -4px;
    top: -4px;
    z-index: 1;
}

/* 
* @Author:   wxh
* @Date:   2015-10-16 23:39:20
* @Last Modified by:   anchen
* @Last Modified time: 2015-10-19 16:09:24
* 主页广告栏第三个链接页
*/
.wrap-show-lll {
    width: 100%;
    height: 667px;
    background: url(../images/ourclub.jpg) center top;
}
.wrap-show-lll .logopic {
    display: block;
    width: 172px;
    margin: 0 auto;
    padding-top: 40px;
}
.wrap-show-lll .logopic img {
    display: block;
    width: 212px;
    height: 75px;
}
.wrap-show-lll .navs-xh {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
.navs-xh a {
    font-size: 14px;
    color: #f9a754;
}
.infomation-wxh {
    width: 455px;
    height: 208px;
    margin: 65px auto;
}
.infomation-wxh p {
    font-size: 14px;
    color: #f9a754;
    line-height: 26px;
    text-indent: 2em;
}